@import "tailwindcss";

@keyframes loadingLine {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(250%);
  }
}

.animate-loading-line {
  animation: loadingLine 1s linear infinite;
}